html {
    margin: 0px;
    padding: 0px;
    font-family: arial, sans-serif;
}

ul {
    padding: 0px;
    margin: 0px;
}

li {
    color: white;
    list-style: none;
    padding: 0px;
    margin: 0px;
    padding: 20px;
    text-align: center;
}

li:nth-child(odd) { background-color: #646464; }
li:nth-child(even) { background-color: #444544; }
img { vertical-align: middle; }
h1 { text-align: center; }